* {
 background-color: lightblue;
 font-family: 'Courier New', Courier, monospace;
}


.intro {
    color: white;
    display:grid;
    margin-left: 5%;
    padding: 10px;
}

.bio {
    color: white;
    display:grid;
    margin-left: 5%;
    padding: 10px;
}


.portfolio {
    
    color: white;
    display: grid;
    margin-left: 5%;
    padding: 10px;
}

h1 {
    padding-top:250px;
    padding-left: 100px;
    font-weight: bold;
}



