* {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
}

html,
body {
  overflow: auto;
  background-color: black;
}

.card-column {
  flex: 1 0 100%;
  padding: 1.5rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
}

.code-card {
  font-size: 60px;
  min-height: 50%;
  max-width: fit-content;
  padding: 10px;
  background-color: black;
  color: white;
  margin-left: 10px;
  margin-top: 5px;
  text-align: center;
  border: 2px solid white;
}

.card-body {
  font-size: 40px;
  text-align: center;
  background-color: white;
  color: black;
  padding: 0;
}

a {
  color: white;
}

nav .navbar-brand {
  color: rgb(127, 255, 0) !important;
}

nav .nav-link {
  color: rgb(127, 255, 0) !important;
  font-weight: bolder;
  font-size: larger;
}

h1 {
  color: rgb(127, 255, 0) !important;
}

h2 {
  color: rgb(127, 255, 0) !important;
}

h3 {
  color: rgb(127, 255, 0) !important;
}

.card-img-top {
  width: 25%;
  object-fit: cover;
  height: 25%rem;
}

.card-header {
  color: black;
  font-weight: bolder;
  font-size: 25px;
}
